<h1>This is the article number <%= @article.id %></h1>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<!-- added by paul -->

<h2>Comments:</h2>
  <table>
    <tr>
      <th>Commenter</th>
      <th>Comment</th>
    </tr>
    <% @article.comments.each do |comment| %>
    <tr>
      <td><%= comment.commenter %></td>
      <td><%= comment.body %></td>
    </tr>
  <% end %>
  </table>

<!-- -->

<h2>Add a comment:</h2>
  <%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.label :commenter %><br>
      <%= f.text_field :commenter %>
    </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

<p>
  <%= link_to 'Back to the list of articles', articles_path %>
  &nbsp;|&nbsp;
  <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: 'Are you sure?'} %>
  &nbsp;|&nbsp;
  <%= link_to 'Edit', edit_article_path(@article) %>
</p>