<h1>This is the article number <%= @article.id %></h1>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments:</h2>
<!-- NB: iterate over comments: -->
<%= render @article.comments %>
<!--
NB: this would have worked to insert a table, but not iterative: iteration has the be included in the partial.
<%= render "comments/comment2" %>
-->

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<p>
  <%= link_to 'Back to the list of articles', articles_path %>
  &nbsp;|&nbsp;
  <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: 'Are you sure?'} %>
  &nbsp;|&nbsp;
  <%= link_to 'Edit', edit_article_path(@article) %>
</p>